
.metadata/.lock
*.index
*.prefs
*.xmi
*.xml
*.xml
*.log
.metadata/.log
*.properties
*.ini
*.version
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.resources
*.dat
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
